.form-input {
	position: relative;
}
.form-input label {
	position: absolute;
	padding-left: 4px;
	padding-right: 4px;
	background: #FFFFFF;
	top: 50%;
	left: 8px;
	transform: translateY(-50%);
	z-index: 1;
	transition: all .2s ease;
}
.form-input input {
	width: 100%;
	padding: 8px 12px;
	border-radius: 4px;
	outline: 1px solid #e5e7eb;
	background: transparent;
	position: relative;
	z-index: 2;
}
.form-input input::placeholder {
	opacity: 0;
}
.form-input input:focus {
	outline: 1px solid #9ca3af;
}
.form-input input:focus+label,
.form-input input:not(:placeholder-shown)+label {
	font-size: 12px;
	top: -10px;
	z-index: 3;
	transform: translateY(0);
}
.form-input .btn-toggle {
	position: absolute;
	right: 8px;
	bottom: 6px;
    z-index: 2;
}