.CounterContainer {
	display: flex;
	flex-direction: row;
}

.CounterContainer p {
	font-size: 18px;
	line-height: 1;
	font-weight: 600;
}

.CounterContainer > p {
	padding: 0 8px;
	display: flex;
	align-items: center;
}

.timeDisplayContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #000000;
	border-radius: 4px;
	color: #fff;
	width: 40px;
	height: 40px;
}

.timeDisplayContainerLabeled {
	width: 53px;
	height: 53px;
}