@tailwind base;
@tailwind components;
@tailwind utilities;
@import './font.css';
@import '~@iconscout/unicons/css/line.css';

html {
  scroll-behavior: smooth;
}

:root {
  --header-background: 173, 216, 230;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

input {
  font-family: 'Poppins', sans-serif;
}

span {
  vertical-align: initial;
  border: 0;
  font: inherit !important;
}

.image-container-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: calc(100% * 9 / 16);
}

.trip-types-container {
  display: flex;
  flex-direction: row;
  gap: .75rem;
}

.trip-types-container .active {
  background: #FFFFFF;
  color: #000000;
}

.trip-type-container {
  /* background: #FFFFFF; */
  color: #FFFFFF;
  border-radius: 10px;
  padding: 0.875rem 1rem;
  cursor: pointer;
  transition: all .3s ease;
}

.trip-type-container:hover {
  background: rgba(0, 0, 0, .5);
  color: #FFFFFF;
}

.trip-type-container.active:hover {
  background: rgba(255, 255, 255, .75);
  color: #000000;
}

.icon-loader {
	animation: loader-spin 2s infinite linear;
}
@keyframes loader-spin {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
