.datePickerContainer {
	display: flex;
	input {
		// font-family: 'Poppins', sans-serif;
		// background: rgb(95, 161, 182);
		background: #FFFFFF;
		color: #000000;
		padding: 6px;
		border-radius: 8px;
	}
}