.inputQuantityContainer {
	display: flex;
	flex-direction: row;
	width: fit-content;
	height: 32px;
	background: rgb(95, 161, 182);
	font-weight: 500;
	border-radius: 4px;
}

.button {
	display: flex;
	padding: 6px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	i {
		font-size: 14px;
	}
}

.inputQuantity {
	max-width: 60px;
	padding: 0 6px;
}

.inputQuantity:focus {
	outline: none;
	border: none;
}

.inputQuantity::-webkit-outer-spin-button,
.inputQuantity::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}